<div class="tw-card tw-border-2 tw-m-5 tw-bg-base-100 tw-shadow-xl" *ngIf="match">
  <div class="tw-card-body">
    <h2 class="tw-card-title">
      {{ match.date }}
    </h2>
    <p>{{ match.playerA.fullName }} vs {{ match.playerB.fullName }}</p>
    <p>{{ match.scoreA }} - {{ match.scoreB }}</p>
    <p>
      {{ match.played ? 'Partita giocata' : 'Partita non giocata' }}
    </p>
  </div>
  <div class="tw-inline tw-mx-auto" *ngIf="isOrganizer">
    <button
      class="tw-mx-2 tw-my-1 tw-btn tw-btn-square tw-btn-secondary tw-w-24"
      onclick="edit_match_modal.showModal()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="tw-h-5 tw-w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
      </svg>
      Modifica
    </button>
  </div>
  <app-edit-match-modal [match]="match" (editEvent)="onEditEvent($event)"></app-edit-match-modal>
</div>
